<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li {% if current == "index" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/account/index') }}">账户列表</a>
                </li>
                <li {% if current == "roleindex" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/role/index') }}">角色列表</a>
                </li>
                <li {% if current == "accessindex" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/access/index') }}">权限列表</a>
                </li>
            </ul>
        </div>
    </div>
</div>